<html>
	<head>
##		<meta name="decorator" content="atl.general"/>
		<title>My Servlet</title>
	</head>
	<body>
		<div>ЭТО ПОБЕДА В ХТМЛ</div>
		<div>$myVar</div>
		asd bla bla 123
		<div>new div</div>
		<div>new div $myVar</div>
		<form method="post" action="/rest/test-rest/1.0/test-api/post4">
			<input type="text" name="id"/>
			<input type="submit" value="Check POST"/>
		</form>
	</body>
</html>